{#
    inverse,
    class,
    title,
    text,
    list: [
        {
            icon: {
                src,
            },
            text,
        },
    ],
    img: {
        src,
        src2x,
        alt,
    },
#}

<section class="section b-img-txt {{ class }}">
    <div class="container">
        <div class="splitter">
            <div class="splitter__main">
                {% if label %}
                    <div class="label b-img-txt__label">{{ label.text }}</div>
                {% endif %}

                <h2 class="b-img-txt__title">{{ title }}</h2>

                {% if text %}
                    <p class="b-img-txt__text">{{ text }}</p>
                {% endif %}

                <div class="b-img-txt__features">
                    {% if list|length > 0 %}
                        {% if list_style == 'icon' %}
                            {# icon list #}
                            <ul class="icon-list">
                                {% for item in list %}
                                    <li class="icon-list__item" style="background-image: url('{{ item.icon.src }}');">{{ item.text }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if list_style == 'square' %}
                            {# list squared #}
                            <ul class="squared-list">
                                {% for item in list %}
                                    <li class="squared-list__item">{{ item.text }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if list_style == 'table' %}
                            <table class="list-tbl">
                                {% for item in list %}
                                <tr class="list-tbl__item">
                                    <td class="list-tbl__title">{{ item.title }}</td>
                                    <td class="list-tbl__content">{{ item.text }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
            <div class="splitter__sec">
                <div class="splitter__pic">
                    <img src="{{ img.src }}" {{ img.src2x ? ('srcset="' ~ img.src2x ~ ' 2x"') }} alt="{{ img.alt }}">
                </div>
            </div>
        </div>
    </div>
</section>